.card {
  user-select: none;
  background: var(--card-background);
  border-radius: 16px;
  box-shadow: var(--card-box-shadow);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
}
