@tailwind base;
@tailwind components;
@tailwind utilities;

/*classes that switch the colours based on site theme*/
#site-wrapper {
  transition: color 0.5s ease, background-color 0.5s ease;
}
.light {
  --site-backgound: #fff;
  --text-main-colour: #000;
  --text-hover-colour: #28d6c7;
}
.dark {
  --site-backgound: #000;
  --text-main-colour: #fff;
  --text-hover-colour: #dd1cd0;
}
.hover-transition {
  @apply hover:text-hover-colour hover:scale-105 transition-all duration-200;
}

.main-colour {
  @apply text-primary-colour transition-all duration-200;
}
